h1{
    background-color: aquamarine;
}
#form {
    margin: 10px;
    padding: 20px;
    background-color: antiquewhite;
}

label {
    font-size: 30px;
}

.input {
    width: 250px;
    height: 25px;
    font-size: 20px;
    /* block-size: 100px; */
}

button {
    width: 250px;
    height: 25px;
    font-size: 20px;
    background-color: green;
}

.select {
    width: 260px;
    height: 33px;
}

textarea {
    width: 250px;
    height: 100px;
}

.Upload {
    width: 400px;
    height: 29px;
    font-size: 20px;
    background-color: brown;
}