body {
    background-image: url("bg.svg");
    color: white;
    margin: 0;
}

header {
    /* background-color: aqua; */
    width: 100vw;
    height: 100vh;
}
pro-img
#name {
    /* background-color: blue; */

}

#menu {
    /* background-color: blueviolet; */
    width: 40em;
    height: 80%;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    border: 2px solid white;
    padding: 2px;
}

#resume {
    background-color: cadetblue;
    width: 12em;
    height: 4.5em;

}

#download_resume {
    width: 10em;
    height: 3em;
    color: white;
    font-weight: bold;
    font-size: 20px;
    background-color: #FBBD23;
    margin-right: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;


}

#nav {
    background-color: #050505;
    padding: 1rem;
    width: 97.9vw;
    height: 4.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    border: 2px solid #000;
    box-shadow: 0 0 10px white;
    /* border-bottom: 0.4px solid white; */
}

#menu-ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding-left: 0;
    height: 80%;
}

a {
    text-decoration: none;
    font-size: 28px;
    font-style: bold;
}

.identity {
    padding-top: 9em;
    /* background-color: blueviolet; */
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.main_l {}

.identity .l1 {
    /* background-color: aqua; */
    font-size: 1.5em;
    text-align: center;
}

.identity .l2 {
    /* background-color: bisque; */
    font-size: 2em;
}

.identity .l3 {
    text-align: center;
    /* background-color: brown; */
    font-size: 1.5em;
}

.l4 a {
    margin: 20px;
}

.identity .l4 {
    /* background-color: chartreuse; */
    text-align: center;
    /* padding: 2px; */
    /* height: 3em; */
}

.about-me .img-siam {
    width: 100vw;
    height: 100vh;
    background-image: url("Siam.JPG");
    background-size: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}


/* .language {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-items: stretch;
    align-content: stretch;
    background-color: brown;
    max-width: 100%;
} */
.language {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* center items */
    gap: 20px;
    /* spacing between items */
    max-width: 100%;
    /* ensures wrapping works */
    /* padding: 20px; */
}

.lang {
    width: calc((100% - 6 * 20px) / 7);
    /* 7 items per row with 6 gaps */
    text-align: center;
}

.siam-info {
    /* background-color: brown; */
    display: flex;
    justify-content: space-around;
}

.exp {
    width: 160%;
    /* background-color: aquamarine; */
    /* padding-left: 30px; */
    padding: 30px;
    /* margin-bottom: 5em; */
}

.txt {
    font-size: 40px;
    border: 2px solid black;
    text-align: justify;
    margin-bottom: 1.5em;
}

.about-me {
    padding: 30px;
}

.overview {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* width: 100%; */
    /* height: ; */
    padding: 2em;
    background-color: rgb(11, 12, 12);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.overview .box {
    padding: 0;
    width: 15em;
    height: 15em;
    border: 2px solid red;
    /* background-color: #070707; */
    /* margin: 2em; */
    text-align: center;
    /* font-size: 30px; */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.project-list #pro-img1 {
    width: 50%;
    height: 20em;
    background-image: url("Tailor_Made.png");
    background-size: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.project-list #pro-img2 {
    width: 50%;
    height: 20em;
    background-image: url("EMS.png");
    background-size: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.project-list #pro-img3 {
    width: 50%;
    height: 20em;
    background-image: url("LMS.png");
    background-size: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.projects {
    padding: 30px;
}

.project .pro-details {
    width: 50%;
}

.project-list {
    background-color: black;
    box-shadow: 4px 4px 10px white;
    display: flex;
    justify-content: space-evenly;
    padding: 32px 32px 20px;
    border: 1px solid white;
    margin-bottom: 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.pro-details>h1 {
    font-size: 48px;
}

.pro-details>p {
    font-size: 24px;
    width: 416px;
}

.pro-button {
    /* background-color: red; */
    height: 3.5em;
    width: 26em;
    display: flex;
    justify-content: space-between;
}

.pro-button>button {
    background-color: #FBBD23;
    width: 15em;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.but-span1 {
    font-weight: bold;
    font-size: 21px;
    color: white;
}

.img-background {
    background-color: white;
    border-radius: 50%;
}

.skills {
    /* background-color: #FBBD23; */
    padding: 30px;
}

.lang {
    background-color: #1e1b1b;
    box-shadow: 4px 4px 10px white;
    border: 1px solid white;
    margin-bottom: 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.contact-container {
    display: flex;
    justify-content: space-between;
}

.dev_info {
    /* background-color: #FBBD23; */
    width: 45%;
    padding-top: 8em;
}

.client_info {
    width: 55%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;
    background-color: black;
    box-shadow: 4px 4px 10px white;
    border: 1px solid white;

}



.about-me>h1,
.projects>h1,
.skills>h1,
.get_in_touch>h1 {
    border-bottom: 1px solid white;
    font-size: 72px;
    width: 6em;
}

.contact-me {
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-right: 60%;
}

.mail-me {
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-right: 55%;
    /* margin:; */
}

.location {
    /* background-color: burlywood; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-right: 62%;

}

.get_in_touch {
    padding: 30px;
}

.dev_info>h2 {
    font-size: 30px;
    margin: 0px 0px 40px;
}

.info-contact {
    font-size: 20px;
}

.info-contact>h2 {
    margin: 0;
}

.info-contact>p {
    margin: 0;
}

.client_info {
    padding: 40px;
}

.client_info>h2 {
    margin: 0px 0px 40px;
    font-size: 40px;
}

.input {
    width: 45em;
    height: 3.56em;
    margin-bottom: 1.2em;
    padding: 0px 16px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;
    background-color: black;
    box-shadow: 4px 4px 10px white;
    border: 1px solid white;
    font-size: 16px;
}
#area{
    padding: 16px 16px;
    height: 10em;
}
.img-contact{
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.copyright {
   background-color: black;
   height: 4em;
   display: flex;
   justify-content: center;
   align-items: center;
   position: sticky;
   font-size: 16px;
   box-shadow: 10px;
   border-top: 1px solid white;
   margin-top: 7em;
}