body {
    background-image: url("bg.svg");
    color: white;
    margin: 0;
}

header {
    background-color: aqua;
    width: 100vw;
    height: 100vh;
}

#name {
    background-color: blue;
}

#menu {
    background-color: blueviolet;
}

#resume {
    /* margin: 30px; */
    background-color: cadetblue;
}

#nav {
    background-color: chartreuse;
    padding: 1rem;
    width: 97vw;
    height: 7em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}