.q1 {
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50%;
    text-align: center;
    border: 2px solid black;

}


.navbar {
    background-color: #0f1111;
    height: 60px;
    border: 10px solid #232F3E;
    font-size: 25px;
}

.innerDiv {
    margin: 13px 10px 15px 10px;
    display: inline-block;
}

#amazon {
    margin-right: 200px;
    color: #FF9900;
    /* margin-left: 10px; */
}

#account {
    margin-right: 200px;
}

#cart {
    margin-right: 200px;
}

#contact {
    margin-right: 150px;
}

span > button {
    /* margin: 10px; */
    background-color: #f08804;
    font-size: 25px;
    border-radius: 10px;
}
span > input{
    height: 35px;
    width: 200px;
}
a{
    text-decoration: none;
}